body {
  background-color: #538392;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

/* .person {
  margin: 5px;
} */

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #C37B89;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
